spring:
    datasource:
        url: jdbc:postgresql://localhost:5432/switchscale_db
        username: postgres
        password: abc123
    jpa:
        hibernate:
            ddl-auto: update
    data:
        redis:
            host: localhost
            port: 6379